:root {
    --primary: #D19C97;
    --primary-dark: #c17a74;
    --bs-primary-rgb: 209, 156, 151;
}

.btn-primary {
    color: #000;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    color: #000;
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.btn-primary:active:focus {
    color: #000;
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.quantity-control {
    display: flex;
    margin-top: 10px;
}

.quantity-control>input {
    width: 50px;
    margin-inline: 5px;
}

/* Navbar */
.navbar-nav.right .nav-icons>* {
    font-size: 25px;
    margin-right: 20px;
}

.navbar-nav.right .bi {
    color: var(--primary)
}

.navbar-nav.right .bi:hover {
    color: var(--primary-dark)
}

/* Home */

.header .list-group-item:first-child {
    font-size: larger;
    font-weight: bold;
    background-color: var(--primary);
}

.header .list-group-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .list-group-item a {
    color: #000;
    text-decoration: none;
}

.header .list-group-item a:hover {
    color: var(--primary);
}

.header .carousel-item {
    height: 410px;
}

@media screen and (max-width: 768px) {
    .header .carousel-item img {
        height: inherit;
        object-fit: cover;
    }
}

.header .carousel .carousel-control span {
    padding: 15px;
    background-color: #000;
    border-color: #000;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
}

.section-title h2::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 50px;
    background-color: var(--primary);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.product-preview {
    transition: opacity 0.5s ease-out;
    color: #000;
    text-decoration: none;
}

.product-preview:hover {
    opacity: 0.7;
    color: #000;
}

.product-filter h4 {
    margin-bottom: 30px;
}

.product-filter .form-check {
    margin-top: 10px;
    font-size: large;
}


/* Cart */
.cart .quantity-control .btn {
    font-size: .6em;
}

/* Footer */
.footer {
    background-color: #EDF1FF !important;
}

.footer .title {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    font-size: 50px;
}

.footer .title span {
    color: var(--primary);
}