.btn-primary {
    color: #000;
    background-color: #D19C97;
    border-color: #D19C97;
}

.btn-primary:hover {
    color: #000;
    background-color: #c17a74;
    border-color: #c17a74;
}

.btn-primary:active:focus {
    color: #000;
    background-color: #c17a74;
    border-color: #c17a74;
}