:root {
    --primary: #D19C97;
    --bs-primary-rgb: 209, 156, 151;
}

.btn-primary {
    color: #000;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    color: #000;
    background-color: #c17a74;
    border-color: #c17a74;
}

.btn-primary:active:focus {
    color: #000;
    background-color: #c17a74;
    border-color: #c17a74;
}

.quantity-control {
    display: flex;
    margin-top: 10px;
}

.quantity-control>input {
    width: 50px;
    margin-inline: 5px;
}

/* Home */

.header .list-group-item:first-child {
    background-color: var(--primary);
}

.header .list-group-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .list-group-item a {
    color: #000;
    text-decoration: none;
}

.header .list-group-item a:hover {
    color: var(--primary);
}

.header .carousel-item {
    height: 420px;
}

.header .carousel .carousel-control span {
    padding: 15px;
    background-color: #000;
    border-color: #000;
}

/* Cart */
.cart .quantity-control .btn {
    font-size: .6em;
}